<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Add a brand</title>
</head>
<body>

	<form action="#" method="post" th:action="@{/brand/save}" th:object="${brand}">
	<input type="hidden" th:field="*{id}"/>
	  ID:<br>
	  	<input type="text" th:field="*{id}" />
	  	</br>
	  Name:<br>
	 	<input type="text" th:field="*{name}" />
	  	</br>
	  Product Type:<br>
	 	<input type="text" th:field="*{product_type}" />
	  	</br>
	  	<br>
	  	<input type="submit" value="OK" />
	  	</br>
	</form> 

</body>
</html>